html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #4d4d4d;
  background-color: #fbfbfb;
}

a {
  color: #f27154;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #a1270c;
  text-decoration: none;
}

p {
  line-height: 1.4;
  margin-bottom: 10px;
}

h1, h2, h3 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

strong {
  font-weight: bold;
}

.container {
  margin: auto;
  padding: 0 10px;
  width: 1160px;
  *zoom: 1;
  overflow: hidden;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

#sidebar, #main {
  float: left;
}

#sidebar {
  margin-right: 20px;
  margin-left: 0;
  width: 180px;
}

#main {
  width: 940px;
}

.cards {
  margin: 0 -10px;
  *zoom: 1;
}
.cards:before, .cards:after {
  content: "";
  display: table;
}
.cards:after {
  clear: both;
}

.cards li {
  float: left;
  margin: 0 10px 30px 10px;
}

.card, .card-back {
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.card {
  height: 180px;
  padding: 0px;
  background: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  position: relative;
}

.card img {
  max-width: 100%;
}

.card-back {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 15px;
  background: white;
}

.card-hover .card-back {
  visibility: visible;
}

.card-hover {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
}

@media (max-width: 1159px) {
  .container {
    width: 840px;
  }

  #main {
    width: 620px;
  }
}
@media (max-width: 839px) {
  #sidebar, #main {
    float: none;
  }

  #sidebar {
    margin-right: 0;
    margin-left: 0;
  }

  .container {
    width: 640px;
  }

  #sidebar, #main {
    width: 620px;
  }
}
@media (max-width: 639px) {
  .container {
    width: 320px;
  }

  #sidebar, #main {
    width: 300px;
  }
}
@media (max-width: 319px) {
  .container, #sidebar, #main, .card, .card-back {
    width: 100%;
  }

  .cards {
    margin-left: 0;
    margin-right: 0;
  }

  .cards li {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .card {
    height: auto;
  }
}
body {
  padding-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(../img/bgnoise.png);
  background-color: #F7F7F7;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}
@media (max-width: 1159px) {
  p {
    font-size: 16px;
  }
}

p.last {
  margin-bottom: 40px;
}

h1 {
  margin: 0;
  color: #f27154;
}

h2 {
  margin: 10px 0 30px 0;
}

.subheader {
  font-weight: normal;
  font-size: 24px;
  color: #aaaaaa;
}

.profile-picture {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.profile-picture img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
@media (max-width: 839px) {
  .profile-picture {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

ul.social-links {
  font-size: 14px;
  margin-bottom: 20px;
  *zoom: 1;
}
ul.social-links:before, ul.social-links:after {
  content: "";
  display: table;
}
ul.social-links:after {
  clear: both;
}
ul.social-links li {
  margin-bottom: 5px;
}

@media (max-width: 839px) {
  #sidebar {
    text-align: center;
  }

  ul.social-links {
    display: inline-block;
  }
  ul.social-links li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.card-image {
  height: 120px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border-bottom: 5px solid #f27154;
}
.card-image img {
  width: 300px;
  height: 115px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #777;
  margin: 18px 0;
}

.card-back p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}

p.card-description {
  height: 92px;
}

p.card-tech-stack {
  font-weight: bold;
  height: 19px;
}

p.card-link {
  height: 19px;
}

@media (max-width: 319px) {
  p.card-description, p.card-tech-stack, p.card-link {
    height: auto;
  }
}
